.countdown {
  position: absolute;
  inset: 0;
  background: rgba(0, 255, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .5s, visibility .5s;
  &-timer {
    font-size: 2rem;
    color: white;
  }
}