@use '../../index.scss' as src;

.ticker {
  font-family: 'Digital';
  position: relative;
  width: 400px;
  height: 70px;

  &-background {
    position: absolute;
    inset: 0;
  }
  &-foreground {
    position: absolute;
    inset: 20px;
    font-family: 'Digital';
    text-transform: uppercase;
    font-size: 2rem;
    word-spacing: 33px;
    white-space: nowrap;

    &.red { 
     color: red;
    }
    &.yellow {
      color: yellow;
    }
    &.green {
      color: green;
    }
  }
}