.idle {
  position: absolute;
  inset: 0;
  z-index: 15; // Above video overlay when active
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 255, .5);
  transition: opacity .5s, visibility .5s;

  p {
    color: white;
  }
}