@use '../../index.scss' as src;

.attract {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .75);
  backdrop-filter: blur(10px);
  transition: opacity .5s, visibility .5s;

  h1 {
    color: white;
  }
}