.camera {
  position: absolute;
  inset: 0;
  z-index: 1; // Bottom layer - webcam feed
  pointer-events: none;

  &-video {
    transform: scaleX(-1) translate(50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 180px);
    height: calc(100% - 180px);
    object-fit: cover;
  }

  &-start {
    position: absolute;
    left: 25%;
    top: 75%;
    pointer-events: all;
    transform: translate(-50%, -50%);
  }

  &-canvas {
    display: none;
  }
}