.camera {
  position: absolute;
  inset: 0;
  pointer-events: none;

  &-video {
    transform: scaleX(-1) translateY(-50%);
    position: absolute;
    left: 12.5%;
    top: 50%;
  }

  &-start {
    position: absolute;
    left: 33%;
    top: 50%;
    pointer-events: all;
    transform: translate(-50%, -50%);
  }

  &-canvas {
    display: none;
  }
}