.ui {
  position: absolute;
  inset: 0;
  pointer-events: none;

  &-frame {
    inset: 0;
    position: absolute;
  }

  &-capture {
    pointer-events: all;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: .5rem 1rem;
    transform: translate(-50%, -50%);
    transition: opacity 1s, visibility 1s;
  }
}